@CHARSET "UTF-8";

html, body
{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	color: #333333;
}

.clr
{
	clear: both;
}

#ps-container
{
	height: 50px;
	border-bottom: 1px solid #999999;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	text-align: right;
	height: 50px;
}

#header div
{
	padding-top: 17px;
}

#header a, #header span
{
	padding-left: 10px;
}

#content
{
	width: 100%;
	padding-top: 10px;
	min-height: 400px;
}

#user-menu
{
	width: 23%;
	float: left;
}

#user-menu #um-adj
{
	padding-right: 5px;
    padding-left: 5px;
	border-right: 1px solid #999999;
}

#prim-content #pc-adj
{
	padding-right: 10px;
	padding-left: 10px;
}

#prim-content
{
	width: 77%;
	float: right;
}

#footer
{
	text-align: center;
}